* {
    margin: 0px;
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

body {
    background-color: rgba(231, 231, 231, 0.507);
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
}

h1 {
    padding-top: 7px;
    text-align: center;   
    color: black;
}

header {
    background: rgba(243, 239, 239, 0.507); 
    height: 50px;
    box-shadow: 0px 5px 10px 5px rgba(128, 128, 128, 0.507);
    margin-bottom: 25px;
}

.letter {
    background:rgba(255, 255, 255, 0.507);
    text-align: center;
    font-weight: 500;
    margin: 2px;
    width: 45px;
    border:  2px solid black;
}

.focus {
    border: 3px solid black;
}

.round {
    font-size: 2rem;
    width: 360px;
    height: 50px;
    margin: 0px auto;
    display: block;
    display: flex;
    align-content: space-between;
    justify-content: center;
}

.keyboard {
    align-self: end;
    margin-bottom: 15px;
}

.keyboardRow {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 2px 0px;
}

.keyboardRow > div {
    text-align: center;
    line-height: 25px;
    border: 2px solid black;
    border-radius: 4px;
    width: 20px;
    height: 25px;
}

.key:hover {
    cursor: pointer;
    background: blanchedalmond;
}

.rightPlace {
    color: white;
    background: green
}

.wrongPlace {
    color: white;
    background: orange;
}

.wrong {
    color: white;
    background-color: lightslategray;
}

#enter {
    width: 40px;
}

#backspace {
    width: 40px;
}