:root {
  // variablen zum Beschreiben der Farbe
  --grey-dark: hsl(0, 0%, 22%);
  --grey-dark-95: hsla(0, 0%, 22%, 0.95);
  --grey-dark-80: hsla(0, 0%, 25%, 0.8);
  --grey-medium-2: hsl(0, 0%, 32%);
  --grey-medium: hsl(0, 0%, 59%);
  --grey-bright-80: hsla(0, 0%, 100%, 0.9);
  --grey-bright: hsl(0, 0%, 98%);
  --grey-bright-2: hsl(180, 9%, 93%);
  --bright-green: hsl(119, 95%, 55%);
  --green: hsl(123, 80%, 28%);
  --bright-yellow: hsl(60, 100%, 50%);
  --yellow: hsl(49, 86%, 48%);
  --grey-middle: hsl(0, 0%, 51%);
  --grey-middle-80: hsla(0, 0%, 73%, 0.8);
  --black-95: hsla(0, 0%, 10%, 0.95);
  --black-modal: hsla(0, 0%, 10%, 0.95);
  --black: hsl(0, 0%, 10%);
}

/* =============== 80'er style ==================== */
// Variablennamen zum Beschreiben der Funktion
.dark {
  --main-text: var(--grey-bright);
  --main-background: var(--black);
  --letterbox-background: var(--black-95);
  --letterbox-border: var(--grey-bright-2);
  --bg-rightPlace: var(--main-background);
  --color-rightPlace: var(--bright-green);
  --border-rightPlace: var(--bright-green);
  --text-shadow-rightPlace: var(--bright-green);
  --bg-wrongPlace: var(--main-background);
  --color-wrongPlace: var(--bright-yellow);
  --text-shadow-wrongPlace: var(--bright-yellow);
  --border-wrongPlace: var(--bright-yellow);
  --bg-wrong: var(--main-background);
  --color-wrong: var(--grey-middle);
  --border-wrong: var(--grey-middle);
  --text-shadow-wrong: var(--grey-middle);

  --text-shadow-h1: var(--grey-medium);

  --background-modal: var(--black-modal);
  --radio-color: var(--bright-green);
  --btn-newGame-shadow: var(--bright-green);
  --btn-newGame-background: var(--black-modal);
  --notification-background: var(--black-modal);
  --notification-border: var(--grey-bright);
  --notification-box-shadow: var(--grey-medium);
  --btn-showWord-background: var(--back-modal);
  --btn-showWord-border: var(--yellow);
  --btn-showWord-color: var(--yellow);
}

/* =================== light style =============== */
.light {
  --main-text: var(--grey-medium-2);
  --main-background: var(--grey-bright);
  --letterbox-background: var(--grey-bright-80);
  --letterbox-border: var(--grey-dark-80);
  --color-rightPlace: var(--grey-bright);
  --bg-rightPlace: var(--green);
  --border-rightPlace: var(--green);
  --color-wrongPlace: var(--grey-bright);
  --bg-wrongPlace: var(--yellow);
  --border-wrongPlace: var(--yellow);
  --color-wrong: var(--grey-bright);
  --bg-wrong: var(--grey-middle-80);
  --border-wrong: var(--grey-middle-80);

  --text-shadow-h1: none;

  --background-modal: var(--grey-bright-80);
  --radio-color: var(--green);
  --btn-newGame-shadow: none;
  --btn-newGame-background: var(--grey-bright);
  --notification-background: var(--grey-bright);
  --notification-border: var(--grey-dark-80);
  --notification-box-shadow: var(--grey-medium);
  --btn-showWord-background: var(--grey-bright);
  --btn-showWord-border: var(--yellow);
  --btn-showWord-color: var(--yellow);
}
