/********** FARBLICHE AUSWERTUNG ******************************/
.rightPlace {
  color: var(--color-rightPlace);
  background: var(--bg-rightPlace);
  border: 2px solid var(--border-rightPlace);
}

.wrongPlace {
  color: var(--color-wrongPlace);
  background: var(--bg-wrongPlace);
  border: 2px solid var(--border-wrongPlace);
}

.wrong {
  color: var(--color-wrong);
  background: var(--bg-wrong);
  border: 2px solid var(--border-wrong);
}

.key.rightPlace {
  color: var(--color-rightPlace);
  background: var(--bg-rightPlace);
  border: 2px solid var(--border-rightPlace);
}

.key.wrongPlace {
  color: var(--color-wrongPlace);
  background: var(--bg-wrongPlace);
  border: 2px solid var(--border-wrongPlace);
}

.key.wrong {
  color: var(--color-wrong);
  background: var(--bg-wrong);
  border: 2px solid var(--border-wrong);
}

.boxLetter.rightPlace {
  color: var(--color-rightPlace);
  background: var(--bg-rightPlace);
  border: 2px solid var(--border-rightPlace);
}

.boxLetter.wrongPlace {
  color: var(--color-wrongPlace);
  background: var(--bg-wrongPlace);
  border: 2px solid var(--border-wrongPlace);
}
.boxLetter.wrong {
  color: var(--color-wrong);
  background: var(--bg-wrong);
  border: 2px solid var(--border-wrong);
}

.boxLetter.boxLetter-dark.rightPlace {
  box-shadow: inset 0 0 0.5rem var(--text-shadow-rightPlace),
    0 0 0.5rem var(--text-shadow-rightPlace);
  text-shadow: -0.2rem -0.2rem 1rem var(--text-shadow-rightPlace),
    0.2rem 0.2rem 1rem var(--text-shadow-rightPlace);
}

.boxLetter.boxLetter-dark.wrongPlace {
  box-shadow: inset 0 0 0.5rem var(--text-shadow-wrongPlace),
    0 0 0.5rem var(--text-shadow-wrongPlace);
  text-shadow: -0.2rem -0.2rem 1rem var(--text-shadow-wrongPlace),
    0.2rem 0.2rem 1rem var(--text-shadow-wrongPlace);
}

.boxLetter.boxLetter-dark.wrong {
  box-shadow: inset 0 0 0.5rem var(--text-shadow-wrong),
    0 0 0.5rem var(--text-shadow-wrong);
  text-shadow: -0.2rem -0.2rem 1rem var(--text-shadow-wrong),
    0.2rem 0.2rem 1rem var(--text-shadow-wrong);
}

.key.boxLetter-dark.rightPlace {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem var(--text-shadow-rightPlace),
    inset 0 0 0.5rem var(--text-shadow-rightPlace);

  text-shadow: -0.1rem -0.1rem 1rem var(--text-shadow-rightPlace),
    0.1rem 0.1rem 1rem var(--text-shadow-rightPlace);
}

.key.boxLetter-dark.wrongPlace {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem var(--text-shadow-wrongPlace),
    inset 0 0 0.5rem var(--text-shadow-wrongPlace);

  text-shadow: -0.1rem -0.1rem 1rem var(--text-shadow-wrongPlace),
    0.1rem 0.1rem 1rem var(--text-shadow-wrongPlace);
}

.key.boxLetter-dark.wrong {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem var(--text-shadow-wrong),
    inset 0 0 0.5rem var(--text-shadow-wrong);

  text-shadow: -0.1rem -0.1rem 1rem var(--text-shadow-wrong),
    0.1rem 0.1rem 1rem var(--text-shadow-wrong);
}
