/**************** RADIO BUTTON ************************************/
.radio-btn-wrapper {
  opacity: 1;
  float: right;
  line-height: 70px;
}

/*******************  MEDIA QUERIES *****************/
@media screen and (max-width: 640px) {
  .radio-btn-wrapper {
    opacity: 0;
    display: none;
    float: right;
    line-height: 70px;
  }
}

/************************ RADIO BUTTON CUSTOM ********************/
.container-radio {
  display: inline-block;
  cursor: pointer;
  margin-right: 12px;
}

.container-radio input {
  opacity: 0;
  height: 0;
  width: 0;
}

.container-radio .checkmark {
  content: ' ';
  border: 2px solid;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-right: 5px;
  left: 20px;
  vertical-align: middle;
}

.container-radio:hover input ~ .checkmark {
  background: var(--grey-medium);
  border-color: var(--grey-bright);
  box-shadow: 0px 0px 2px 1px var(--grey-medium);
}

.container-radio input:checked ~ .checkmark {
  background: var(--border-rightPlace);
  border-color: var(--grey-bright);
  box-shadow: 0px 0px 2px 1px var(--border-rightPlace);
}
