header {
  box-shadow: 0px 5px 10px 5px var(--grey-medium);
}

/***************** HEADER DARK *********************/
.rightPlace.header-dark {
  box-shadow: inset 0 0 0.5rem var(--text-shadow-rightPlace),
    0 0 0.5rem var(--text-shadow-rightPlace);
  text-shadow: -0.2rem -0.2rem 1rem var(--text-shadow-rightPlace),
    0.2rem 0.2rem 1rem var(--text-shadow-rightPlace);
}

.wrongPlace.header-dark {
  box-shadow: inset 0 0 0.5rem var(--text-shadow-wrongPlace),
    0 0 0.5rem var(--text-shadow-wrongPlace);
  text-shadow: -0.2rem -0.2rem 1rem var(--text-shadow-wrongPlace),
    0.2rem 0.2rem 1rem var(--text-shadow-wrongPlace);
}

.wrong.header-dark {
  box-shadow: inset 0 0 0.5rem var(--text-shadow-wrong),
    0 0 0.5rem var(--text-shadow-wrong);
  text-shadow: -0.2rem -0.2rem 1rem var(--text-shadow-wrong),
    0.2rem 0.2rem 1rem var(--text-shadow-wrong);
}

/*******************  MEDIA QUERIES **************************/
@media screen and (max-width: 640px) {
  header {
    margin-bottom: 1rem;
    box-shadow: none;
  }
}
