header {
  border-bottom: 1px solid var(--grey-medium);
}

/***************** HEADER DARK *********************/
.rightPlace.header-dark {
  box-shadow: inset 0 0 0.5rem var(--text-shadow-rightPlace),
    0 0 0.5rem var(--text-shadow-rightPlace);
  text-shadow: -0.2rem -0.2rem 1rem var(--text-shadow-rightPlace),
    0.2rem 0.2rem 1rem var(--text-shadow-rightPlace);
}

.wrongPlace.header-dark {
  box-shadow: inset 0 0 0.5rem var(--text-shadow-wrongPlace),
    0 0 0.5rem var(--text-shadow-wrongPlace);
  text-shadow: -0.2rem -0.2rem 1rem var(--text-shadow-wrongPlace),
    0.2rem 0.2rem 1rem var(--text-shadow-wrongPlace);
}

.wrong.header-dark {
  box-shadow: inset 0 0 0.5rem var(--text-shadow-wrong),
    0 0 0.5rem var(--text-shadow-wrong);
  text-shadow: -0.2rem -0.2rem 1rem var(--text-shadow-wrong),
    0.2rem 0.2rem 1rem var(--text-shadow-wrong);
}
