/************* KEYBOARD/KEYS ******************************/
.keyboard {
  margin-bottom: 1rem;
}

.key {
  color: var(--main-text);
  border: 2px solid var(--letterbox-border);
  background-color: var(--main-background);
  font-size: 1.2rem;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  width: 45px;
  height: 55px;
}

.keyboardRow {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 2px 0px;
}

.key:hover {
  cursor: pointer;
}
#Enter {
  width: 70px;
  font-size: 2rem;
  line-height: 40px;
}

#Backspace {
  width: 70px;
  line-height: 40px;
  font-size: 2rem;
}

/*******************  MEDIA QUERIES **************************/
@media screen and (max-device-width: 640px), screen and (max-width: 640px) {
  .keyboard {
    margin-bottom: 0rem;
  }

  .keyboardRow {
    gap: 3px;
  }

  .key {
    border-radius: 5px;
    width: 2rem;
    height: 50px;
    padding: 0px;
  }

  #Enter {
    width: 3.5rem;
    font-size: 2rem;
  }

  #Backspace {
    width: 3.5rem;
    font-size: 2rem;
  }
}

// @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
//   .keyboard {
//     position: fixed;
//     bottom: 0px;
//     margin-bottom: 15rem;
//   }
// }
