* {
  font-family: Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  margin: 0px;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto;
  color: var(--main-text);
  background: var(--main-background);
}

header {
  height: 70px;
  margin-bottom: 15px;
  position: relative;
  width: 100%;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
      padding: 0.25rem;
    }
  }
}

/****************** BOX LETTERS  *************************/
.LetterBox {
  font-size: 2rem;
  width: 360px;
  height: 62px;
  margin: 0px auto;
  display: block;
  display: flex;
  align-content: space-between;
  justify-content: center;
}

.box-letter {
  border: 2px solid var(--letterbox-border);
  text-align: center;
  font-weight: 500;
  line-height: 55px;
  margin: 2px;
  width: 50px;
}

/******************** BOX LETTER DARK ***********************/
.box-letter-dark {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem var(--letterbox-border),
    inset 0 0 0.5rem var(--letterbox-border);
  text-shadow: -0.1rem -0.1rem 1rem var(--letterbox-border),
    0.1rem 0.1rem 1rem var(--letterbox-border);
}

.key.box-letter-dark {
  box-shadow: none;
  text-shadow: none;
}

/*******************  MEDIA QUERIES **************************/
@media screen and (max-width: 640px) {
  .LetterBox {
    font-size: 2rem;
    width: 360px;
    height: 62px;
    margin: 0px auto;
    display: block;
    display: flex;
    align-content: space-between;
    justify-content: center;
  }

  .box-letter {
    text-align: center;
    font-weight: 500;
    line-height: 55px;
    margin: 2px;
    width: 50px;
  }
} ;
