* {
  font-weight: 400;
  margin: 0px;
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  color: var(--main-text);
  background: var(--main-background);
}

header {
  height: 70px;
  margin-bottom: 15px;
  position: relative;
  width: 100%;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
      padding: 0.25rem;
    }
  }
}
/******************** KEYBOARD ****************************/
.keyboard {
  margin-top: 2rem;
}

/****************** BOX LETTERS  *************************/
.boxLetterWrapper {
  margin-top: 3rem;
}

.boxLetterContainer {
  font-size: 2rem;
  width: 360px;
  height: 62px;
  margin: 0px auto;
  display: block;
  display: flex;
  align-content: space-between;
  justify-content: center;
}

.boxLetter {
  border: 2px solid var(--letterbox-border);
  text-align: center;
  font-weight: 500;
  line-height: 55px;
  margin: 2px;
  width: 50px;
  text-transform: uppercase;
}

/******************** BOX LETTER DARK ***********************/
.boxLetter-dark {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem var(--letterbox-border),
    inset 0 0 0.5rem var(--letterbox-border);
  text-shadow: -0.1rem -0.1rem 1rem var(--letterbox-border),
    0.1rem 0.1rem 1rem var(--letterbox-border);
}

.key.boxLetter-dark {
  box-shadow: none;
  text-shadow: none;
}

/*******************  MEDIA QUERIES **************************/
@media screen and (max-width: 640px) {
  body {
    width: 100vw;
  }

  .boxLetterContainer {
    font-size: 2rem;
    height: 62px;
    margin: 0px auto;
    display: flex;
    align-content: space-between;
    justify-content: center;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .boxLetterWrapper {
    margin-top: 1rem;
  }
}
