/****************** NOTIFICATIONS *******************************/
.notification {
  /* center element mit position absolute */
  position: absolute;
  top: 30vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  z-index: 200;
  padding: 1rem;
  width: fit-content;
  text-align: center;
  opacity: 1;
  background: var(--grey-dark-95);
  color: var(--grey-bright);
  border: solid 2px var(--grey-bright);
  box-shadow: 0px 0px 1em var(--grey-medium);

  > p {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  > span {
    margin: 0px 10px;
    text-align: center;
    height: fit-content;
    display: block;
    z-index: 200;
  }
}

.show-word {
  cursor: pointer;
  background: var(--grey-dark-95);
  border: solid 1px var(--border-wrongPlace);
  color: var(--border-wrongPlace);
  border-radius: 0.5rem;
  width: 10rem;
  height: 2rem;
}

.notification .dark {
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.25rem var(--grey-bright),
    0 0 0.5rem var(--grey-bright);
}

/********* Automatisches Ein- und Ausblenden Notification **************/
#noWord-notification {
  animation-name: fadeOut-notification;
  animation-timing-function: ease-out;
  animation-duration: 1.9s;
}

@keyframes fadeOut-notification {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 840px) {
  .show-word {
    height: 3rem;
  }
}
