:root {
    --grey-dark: #383838;
    --grey-dark-95: #383838F2;
    --grey-medium-2: #515151;
    --grey-medium: #969696;
    --grey-bright: #FAFAFA;
}

/* =============== 80'er style ==================== */
.dark {
    --main-text: var(--grey-bright);
    --main-background: #1a1a1a;
    --letterbox-background: #1a1a1aCC; 
    --letterbox-border: #ecefef;
    --bg-rightPlace: var(--main-background);
    --color-rightPlace: #20f91d;
    --border-rightPlace: #20f91d;
    --text-shadow-rightPlace: #20f91d;
    --bg-wrongPlace: var(--main-background);
    --color-wrongPlace: #ffff00;
    --text-shadow-wrongPlace: #ffff00;
    --border-wrongPlace: #ffff00;
    --bg-wrong: var(--main-background);
    --color-wrong: #828282;
    --border-wrong: #828282;
    --text-shadow-wrong: #828282;

    --text-shadow-h1: var(--grey-medium)
}

/* =================== light style =============== */
.light {
    --main-text: var(--grey-medium-2);
    --main-background: #fafafa;
    --letterbox-background: #ffffff80; 
    --letterbox-border: #3f3f3f80;
    --color-rightPlace: var(--grey-bright);
    --bg-rightPlace: #0e8014;
    --border-rightPlace: #0e8014;
    --color-wrongPlace: var(--grey-bright);
    --bg-wrongPlace: #e2bc11;
    --border-wrongPlace: #e2bc11;
    --color-wrong: var(--grey-bright);
    --bg-wrong: #b9b9b9E6;
    --border-wrong: #b9b9b9E6;

    --text-shadow-h1: none;
}

.box-letter-dark {
    border-radius: 0.5rem;
    box-shadow: 
        0 0 0.5rem var(--letterbox-border), 
        inset 0 0 0.5rem var(--letterbox-border);
    text-shadow:   
        -0.1rem -0.1rem 1rem var(--letterbox-border),
        0.1rem 0.1rem 1rem var(--letterbox-border);
}

.key.box-letter-dark {
    box-shadow: none;
    text-shadow: none;
}

.notification {
    border-radius: 0.5rem;
    box-shadow: 
        inset 0 0 0.25rem var(--grey-bright),
        0 0 0.5rem var(--grey-bright);
}

.btn-NewGame {
    border-radius: 0.5rem;
}

