.btn-NewGame {
    border: 2px solid var(--color-rightPlace);
}

.test-klasse {
    font-family: 'Courier New', Courier, monospace;
}

.btn-NewGame:hover {
    border: 2px solid rgb(var(--grey-bright));
}


/* .rightPlace {
    color: rgb(var(--grey-bright));
    background-color: var(--color-rightPlace);
}

.wrongPlace {
    color: rgb(var(--grey-bright));
    background-color: var(--color-wrongPlace);
}

.wrong {
    color: rgb(var(--grey-bright));
    background-color: var(--color-wrong);
} */
