* {
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    margin: 0px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
    color: rgb(var(--grey-dark));
    background: var(--main-background);
}

header {
    height: 70px;
    margin-bottom: 15px;
    box-shadow: 0px 5px 10px 5px rgb(var(--grey-medium));
    position: relative;
    width: 100%;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 > span {
    padding: 5px;
}

/***************** HEADER DARK *********************/
.header-dark.rightPlace {
    box-shadow: 
        inset 0 0 0.5rem var(--text-shadow-rightPlace),
        0 0 0.5rem var(--text-shadow-rightPlace);
    text-shadow:   
        -0.2rem -0.2rem 1rem var(--text-shadow-rightPlace),
        0.2rem 0.2rem 1rem var(--text-shadow-rightPlace);
}

.header-dark.wrongPlace {
    box-shadow: 
        inset 0 0 0.5rem var(--text-shadow-wrongPlace),
        0 0 0.5rem var(--text-shadow-wrongPlace);
    text-shadow:   
        -0.2rem -0.2rem 1rem var(--text-shadow-wrongPlace),
        0.2rem 0.2rem 1rem var(--text-shadow-wrongPlace);
}

.header-dark.wrong {
    box-shadow: 
        inset 0 0 0.5rem var(--text-shadow-wrong),
        0 0 0.5rem var(--text-shadow-wrong);
    text-shadow:   
        -0.2rem -0.2rem 1rem var(--text-shadow-wrong),
        0.2rem 0.2rem 1rem var(--text-shadow-wrong);
}

/****************** BOX LETTERS  *************************/
.round {
    font-size: 2rem;
    width: 360px;
    height: 62px;
    margin: 0px auto;
    display: block;
    display: flex;
    align-content: space-between;
    justify-content: center;
}

.box-letter {
    text-align: center;
    font-weight: 500;
    line-height: 55px;
    margin: 2px;
    width: 50px;
}

.keyboard {
    align-self: end;
    margin-bottom: 10px;
    height: fit-content;
}

.key {
    font-size: 1.2rem;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    width: 40px;
    height: 50px;
}

#Enter {
    width: 70px;
    font-size: 2rem;
    line-height: 40px;
}

#Backspace {
    width: 70px;
    line-height: 40px;
    font-size: 2rem;
}

/********** theme selection *******/
.hamburger-menu-wrapper {
    opacity: 0;
}

.radio-btn-theme-wrapper {
    opacity: 1;
    float: right;
    line-height: 70px;
}


/*******************  Media Queries **************************/
@media screen and (max-width: 640px) {
    header {
        margin-bottom: 15px;
    }
  
    .keyboard { 
        display: grid;
        align-items: end;
        align-self: end;
    }
    
    .keyboardRow {
        gap: 3px;
    }

    .round {
        font-size: 2rem;
        width: 360px;
        height: 62px;
        margin: 0px auto;
        display: block;
        display: flex;
        align-content: space-between;
        justify-content: center;
    }

    .box-letter {
        text-align: center;
        font-weight: 500;
        line-height: 55px;
        margin: 2px;
        width: 50px;
    }

    .key {
        font-size: 1.2rem;
        text-align: center;
        line-height: 50px;
        border-radius: 5px;
        width: 31px;
        height: 50px;
    }
    
    #Enter {
        width: 50px;
        font-size: 2rem;
        line-height: 40px;
    }
    
    #Backspace {
        width: 50px;
        line-height: 40px;
        font-size: 2rem;
    }

    /******* theme selection ***********/
    .hamburger-menu-wrapper {
        opacity: 1;
    }

    .radio-btn-theme-wrapper {
        opacity: 0;
    }

    /******************* Hamburger Menu *************/
    .dropdown-wrapper {
        width: fit-content;
        opacity: 1;
    }
    
    .dropdown {
        /* border: solid 1px blue;
        box-sizing: border-box; */
        
        padding: 0px;
        margin: 0px;
        position: absolute;
        top: 70px;
        width: 100%;
        height: 55px;
        background-color: var(--main-background);
        box-shadow: 0px 7px 7px rgb(var(--grey-medium));

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        z-index: 5;
        opacity: 0;

        transition: opacity 0.15s ease-out;
    }

    .dropdown-item a::before {
        content: ' ';
        border: 1px solid currentColor;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }

    .dropdown.open {
        opacity: 1;
    }
    
    .dropdown-item {
        /* border: solid 1px white; */

        list-style: none;
        background-color: var(--main-background);
    }

    a {
        text-decoration: none;
        color: currentColor;
    }

    a:hover {
        color: var(--color-rightPlace);
    }

    a:focus {
        color: var(--color-rightPlace);
    }

    /***************** Hamburger Menu Icon *******************/
    .hamburger-menu-icon {
        width: 35px;
        height: 30px;
        margin: 10px 10px;
        position: relative;
        cursor: pointer;
        display: inline-block;
        top: 8px;
        left: 83%;
    }

    .hamburger-menu-icon div {
        position: absolute;
        border-radius: 2px;
        transition: .3s cubic-bezier(.8, .5, .2, 1.4);
        width:100%;
        height: 4px;
    }

    .hamburger-menu-icon div:nth-child(1) {
        background-color: var(--color-rightPlace);
        top: 0px;
        /* box-shadow: 
            0 0 1em var(--color-rightPlace), 
            inset 0 0 1em var(--color-rightPlace); */
    }

    .hamburger-menu-icon div:nth-child(2) {
        background-color: var(--color-wrong);
        top: 13px;
        /* box-shadow: 
            0 0 1em var(--color-wrong), 
            inset 0 0 1em var(--color-wrong); */
    }

    .hamburger-menu-icon div:nth-child(3) {
        background-color: var(--color-wrongPlace);
        bottom: 0px;
        /* box-shadow: 
            0 0 1em var(--color-wrongPlace), 
            inset 0 0 1em var(--color-wrongPlace); */
    }

    .hamburger-menu-icon:hover div:nth-child(1) {
        box-shadow: 
            0 0 1em var(--color-rightPlace),
            0 0 2em var(--color-rightPlace),
            inset 0 0 1em var(--color-rightPlace);
    }

    .hamburger-menu-icon:hover div:nth-child(2) {
        box-shadow: 
            0 0 1em var(--color-wrong),
            0 0 2em var(--color-wrong),
            inset 0 0 1em var(--color-wrong);
    }

    .hamburger-menu-icon:hover div:nth-child(3) {
        box-shadow: 
            0 0 1em var(--color-wrongPlace),
            0 0 2em var(--color-wrongPlace),
            inset 0 0 1em var(--color-wrongPlace);
    }

    .hamburger-menu-icon.open div:nth-child(1) {
        transform: rotate(45deg) scaleX(0.8);
        top: 13px;
        left: -9px;
    }

    .hamburger-menu-icon.open div:nth-child(2) {
        transform: rotate(180deg) scale(0);
        transition-duration: 100ms;
    }

    .hamburger-menu-icon.open div:nth-child(3) {
        transform: rotate(-45deg) scaleX(0.8);
        bottom: 13px;
        left: 9px;
    }
}

.rightPlace {
    border: 2px solid var(--color-rightPlace);
}

.wrongPlace {
    border: 2px solid var(--color-wrongPlace);
}

.wrong {
    border: 2px solid var(--color-wrong);
}

.notification {
    /* center element mit position absolute */
    position: absolute;
    top: 30vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    
    z-index: 200;
    padding: 1rem;
    display: none;
    width: fit-content;
    text-align: center;
    opacity: 1;
    background: rgba(var(--grey-dark), 0.95);
    color: rgb(var(--grey-bright));
    border: solid 2px rgb(var(--grey-bright));
    box-shadow: 0px 0px 1em rgb(var(--grey-medium));
}

.notification > p {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.notification > span {
    margin: 0px 10px;
    text-align: center;
    height: fit-content;
    display: block;
    z-index: 200;
} 

.btn-NewGame {
    padding: 10px;
    margin-top: 0.5rem;
    font-size: 1rem;
    background-color:var(--color-rightPlace);
    color: rgb(var(--grey-bright));
    border: 2px solid rgb(var(--grey-bright));
}

#searchedWord {
    margin-top: 0.5rem;
    display: none;
    padding: 2px 0px;
    color: var(--color-wrongPlace);
}

#btn-showWord {
    margin-top: 0.5rem;
    padding: 2px 0px;
    display: block;
    color: var(--color-wrongPlace);
    border: solid 1px var(--color-wrongPlace);
}


/********* Automatisches Ein- und Ausblenden Notification **************/
#noWord-notification {
    animation-name: fadeOut-notification;
    animation-timing-function: ease-out;
    animation-duration:1.90s;
}

@keyframes fadeOut-notification {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* TODO: 80'er effekt. Leuchtstoffröhren effekt auf Borders, Buttons ect. */
