* {
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: rgb(56, 56, 56);
    margin: 0px;
}

body {
    background-color: rgba(250, 250, 250, 0.705);
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
}

header {
    background: rgba(250, 244, 244, 0.801); 
    height: 70px;
    box-shadow: 0px 5px 10px 5px rgba(128, 128, 128, 0.507);
    margin-bottom: 15px;
}

h1 {
    padding-top: 10px;
    text-align: center;   
}

.keyboardRow {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 2px 0px;
}

@media screen and (min-width: 500px) {  
.round {
    font-size: 2rem;
    width: 360px;
    height: 62px;
    margin: 0px auto;
    display: block;
    display: flex;
    align-content: space-between;
    justify-content: center;
}

.letter {
    background:rgba(255, 255, 255, 0.507);
    text-align: center;
    font-weight: 500;
    line-height: 55px;
    margin: 2px;
    width: 50px;
    border:  2px solid rgba(63, 63, 63, 0.5); 
}

.keyboard {
    align-self: end;
    margin-bottom: 10px;
    height: fit-content;
}

.key {
    font-size: 1.2rem;
    text-align: center;
    line-height: 50px;
    border: 2px solid rgba(185, 185, 185, 0.9); 
    border-radius: 5px;
    width: 40px;
    height: 50px;
}

#Enter {
    width: 70px;
    font-size: 2rem;
}

#Backspace {
    width: 70px;
    line-height: 40px;
    font-size: 2rem;
}
}

@media screen and (max-width: 499px) {
    header {
        margin-bottom: 15px;
    }
  
    .keyboard { 
        display: grid;
        align-items: end;
        align-self: end;
    }
    
    .keyboardRow {
        gap: 3px;
    }

    .round {
        font-size: 2rem;
        width: 360px;
        height: 62px;
        margin: 0px auto;
        display: block;
        display: flex;
        align-content: space-between;
        justify-content: center;
    }

    .letter {
        background:rgba(255, 255, 255, 0.507);
        text-align: center;
        font-weight: 500;
        line-height: 55px;
        margin: 2px;
        width: 50px;
        border: 2px solid rgba(63, 63, 63, 0.5); 
    }

    .key {
        font-size: 1.2rem;
        text-align: center;
        line-height: 50px;
        border: 2px solid rgba(185, 185, 185, 0.9); 
        border-radius: 5px;
        width: 31px;
        height: 50px;
    }
    
    #Enter {
        width: 50px;
        font-size: 2rem;
        line-height: 40px;
    }
    
    #Backspace {
        width: 50px;
        line-height: 40px;
        font-size: 2rem;
    }
}

.key:hover {
    cursor: pointer;
}

.standard {
    background:rgba(255, 255, 255, 0.507);
}

.rightPlace {
    color: white;
    background: rgb(14, 128, 20);
    border-color: rgb(14, 128, 20);
}

.wrongPlace {
    color: white;
    background: rgb(226, 188, 17);
    border-color: rgb(226, 188, 17);
}

.wrong {
    color: white;
    background-color: rgba(53, 53, 53, 0.5);
    border-color: rgba(53, 53, 53, 0.5);
}

#notification {
    /* center element mit position absolute */
    position: absolute;
    top: 30vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    
    z-index: 200;
    padding: 0.8rem;
    display: none;
    width: fit-content;
    margin: 0px auto;
    border: solid 2px rgba(250, 250, 250, 0.705);
    background-color: rgba(65, 65, 65, 0.95);
    box-shadow: 0px 0px 1em  #555555;
    opacity: 0;

    animation-name: fadeOut-notification;
    animation-timing-function: ease-out;
    animation-duration:1.5s;
}

#notification > span {
    color: rgba(250, 250, 250, 0.905);
    margin: 0px 10px;
    text-align: center;
    height: fit-content;
    display: block;
    z-index: 200;
} 

@keyframes fadeOut-notification {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
    }
}



